<!-- form.ejs -->
<div>
<form class="border p-4 m-1">
    <div class="mb-3">
      <label for="exampleInputProduct" class="form-label">Name Product</label>
      <input type="name" class="form-control" id="exampleInputProduct1" aria-describedby="ProductHelp">
      <div id="ProductHelp" class="form-text">Add a New Product.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPrice" class="form-label">Price</label>
      <input type="number" class="form-control" id="exampleInputPrice1">
      <div id="PriceHelp" class="form-text">Add a Price.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputImg" class="form-label">Img</label>
        <input type="link" class="form-control" id="exampleInputImage1">
        <div id="ImgHelp" class="form-text">Add an Image.</div>
      </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>