<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %> 
</head>
<body>
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://pngimg.com/uploads/lamborghini/lamborghini_PNG10709.png"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form action="/login" method="POST">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Sign in</p>
              
             
            </div>
            <br>
  
           
  
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Username" />
              <label class="form-label" for="form3Example3"></label>
            </div>

  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-secondary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
              
            </div>
  
          </form>
        </div>
      </div>
    </div>
    <footer>
            <%- include('./partials/footer') %> 
        </footer>
  </section>
  
  
</body>
</html>