<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
</head>
<body>
    <div class="container">
        <header>
            <%- include('./partials/header', { current: 'products' }) %> 
        </header>
        <main>
            <div>
                <h2 class="p-3">List of Products</h2>
                
            </div>
        </main>

        <footer>
            <%- include('./partials/footer') %> 
        </footer>

    </div>
    
</body>
</html>