<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
</head>
<body>
    <div class="container">
        <header>
            <%- include('./partials/header', { current: 'products' }) %> 
        </header>
        <main>
            <div>
                <h2 class="p-3">title</h2>
                <%- include('./td') %> 
            </div>
        </main>

    </div>
    
</body>
</html>